@import '../../styles/theme.scss';

.room-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 1px;
  
  .title {
    color: $label-color;
    font-size: 20px;
  }

  &:hover {
    background: $room-item-hover;
  }

  &.active {
    background: $active-room;
  }
}