$bg: url('./images/pattern-bg2.jpg');//#172645;
$text: rgb(216, 216, 216);

$auth-form-color: rgb(233, 233, 233);
$window-bg: rgb(40, 40, 40);
$section-border-color: rgb(62, 62, 62);
$label-color: rgb(216,216,216);

$active-room: #685eac;
$room-item-hover: rgb(72, 72, 72);

$message-bg-color: rgb(27, 27, 27);
$message-is-me-bg: #685eac;
$message-text-color: #fff;
$message-name-color: rgb(40, 191, 10);
$messages-scrollbar-track: #374a72;
$messages-scrollbar-thumb: #888;
$messages-scrollbar-thumb-hover: #555;

$chat-textarea-bg: rgb(27, 27, 27);
$chat-sidebar-current-user-bg: #685eac;
$chat-sidebar-current-username-color: rgb(40, 191, 10);

